--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchvision==0.20.1+cu121
fastapi
pydantic>=2,<3
uvicorn[standard]
websockets
sqlalchemy
psycopg[binary]
opencv-python-headless
numpy>=2
ultralytics
shapely
python-dotenv
pillow
pgvector
python-multipart
pypdf
openai>=3.0.0,<4.0.0
brotli>=1.2.0

supabase>=2.0,<3.0
